/*--- Global ---*/
body {
	background-color: #242424;
	color: #fafafa;
	font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4rem;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-width: 900px;
}

img {
	display: block;
	position: relative;
	max-width: 100%;
}

a,
input,
li,
button,
.form-item-driver .form-radios .form-item-driver,
label {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
label {
	cursor: pointer;
}
#page
canvas {
	-webkit-transition: all .3s ease-out 0.5s;
	-moz-transition: all .3s ease-out 0.5s;
	-o-transition: all .3s ease-out 0.5s;
	transition: all .3s ease-out 0.5s;
}
table {
	border: 1px solid #111;
}
tbody {
	border-top: 0;
}

::selection {
  background: #bbb; /* WebKit/Blink Browsers */
  color: #000;
}
::-moz-selection {
  background: #bbb; /* Gecko Browsers */
  color: #000;
}

/*--- Buttons ---*/
.form-submit {
	background: #0DC100;
	border: 3px solid #198E0C;
	color: #fff;
	padding: 5px 10px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	font-weight: 400;
	cursor: pointer;
	border-radius: 5px;
}
.form-submit:hover {
	background: #198E0C;
}

#edit-save,
#edit-submit {
	padding-right: 45px;
	padding-left: 10px;
}
#edit-actions:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 54px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    position: absolute;
    top: -5px;
    right: -16px;
    float: right;
    content: "\f0a9";
	color: #198E0C;
}


/*--- Typography ---*/
p,
h1,
h2,
h3 {
	font-weight: 300;
}
h1.page-title {
	display: block;
	position: relative;
	margin: 2rem auto;
	text-align: right;
	max-width: 92%;
    width: 1200px;
}
a {
	color: #0DC100;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
}
a:hover {
	color: #198E0C;
	outline: none;
	text-decoration: none;
}
form {
	position: relative;
	padding: 60px 0 0;
}

/*--- Forms ---*/
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border: 3px solid #222;
	border-radius: 5px;
	font-weight: 400;
	margin: .5rem 0;
	padding: 10px;
	display: block;
	background-color: #e6e6e6;
	color: #555;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	font-size: 15px;
	box-sizing: border-box;
	font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;
	position: relative;
	width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border: 3px solid #0DC100;
	padding: 10px;
	background-color: #fff;
	outline: none;
	color: #222;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

input[type="submit"] {
	font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;
}
input[type="submit"]:focus {
	outline: none;
}
input#edit-mysql-database {
	display: inline;
	width: 50%;
}

select {
	color: #222;
	display: block;
	position: relative;
	border: none;
}
.sbHolder {
	position: relative;
	display: inline-block;
	width: 250px;
	max-width: 100%;
}
a.sbSelector {
	overflow: hidden;
	color: #fafafa;	
	background-color: #222;
	display: block;
	position: relative;	
	width: 100%;
	margin: 0;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	font-weight: 100;
	text-transform: uppercase;
	border: 1px solid #111;
}
a.sbSelector:hover {
	background-color: #282828;
	border-color: #222;
}
select,
ul.sbOptions {
	border: 1px solid #bbb;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	appearance: none;
	width: 100px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	color: #fafafa;	
	background-color: #222;
	display: block;
	position: absolute;
	z-index: 100;	
	width: 100%;
	top: 0 !important;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.3);
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
select options,
ul.sbOptions li {
	display: block;
	position: relative;	
	width: 100%;
	border: 0 !important;
}
ul.sbOptions li a {
	color: #fafafa;	
	background-color: $tan;
	display: block;
	padding: 7px 15px 6px;
	font-size: 13px;
	font-weight: 100;
	text-transform: uppercase;
}
ul.sbOptions li + li a {			
	background-color: #282828;
	color: #eee;	
	font-weight: normal;

}
ul.sbOptions li + li a:hover {
	background-color: #282828;
	color: #fff;
}

.form-item, 
.form-actions {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
}
.form-item-mysql-database {
	padding-bottom: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #222;
}
.form-item-mysql-username,
.form-item-mysql-password {
	display: block;
	position: relative;
	float: left;
	width: 50%;
	padding: 2% 2% 2% 0%;
	margin-top: 0;
    box-sizing: border-box;
}
.form-item input + .description {
    background-color: #bbb;
    border-radius: 4px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 0 0;
    padding: 12px 15px;
    position: relative;
    float: right;
    visibility: hidden;
    z-index: 10;
    width: 47%;
    box-sizing: border-box;
    -webkit-transition: all .5s ease-out 0.5s;
	-moz-transition: all .5s ease-out 0.5s;
	-o-transition: all .5s ease-out 0.5s;
	transition: all .5s ease-out 0.5s;
}
.form-item input:focus + .description {
	visibility: visible;
	margin: 0;
}
.form-item input + .description:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 8px 0;
	border-color: transparent #bbbbbb transparent;
    position: absolute;
    top: 16px;
    left: -8px;
}

.option_wrapper {
	background: none repeat scroll 0 0 #2a2a2a;
    border-radius: 5px;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.25) inset;
    box-sizing: border-box;
    border: 1px solid #232323;
    display: block;
    float: left;
    margin: 1%;
    padding: 4% 2%;
    position: relative;
    width: 31%;
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.option_wrapper .form-item {
	margin-bottom: 0;
}
.option_wrapper:hover {
	border: 1px solid #e8e001;
}
.option_wrapper.active {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset;
	border: 1px solid #0dc100;
}
.option_wrapper:hover {

}
.option_wrapper:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: block;
    position: absolute;
    left: 38%;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    content: "\f135";
    color: #ccc;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.option_wrapper:hover:before {
	font-size: 80px
}
.option_wrapper.active:before {
	color: #0dc100;
	font-size: 80px
}
#edit-option-wrapper-2:before{
	content: "\f1c0";
}
#edit-option-wrapper-3:before {
	content: "\f155";
}
.option_wrapper .form-item-quickstart > input,
#edit-standard-options .form-type-checkbox > input,
#edit-install-options .form-type-radio > input {
	display: none;
}
.option_wrapper .form-item-quickstart > input + label {
	padding: 100px 0 5px;
	margin: -20px 0 10px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}
.option_wrapper .form-item-quickstart > input + label:hover {
	color: #0dc100;
}
.option_wrapper label.option {
	display: block;
	position: relative;
}
.option_wrapper .form-type-radio .description, 
.option_wrapper .form-type-checkbox .description,
#edit-install-options .form-type-radio .description {
	display: block;
	position: relative;
	margin: 0;
	background-color: #222;
	padding: 10px;
	border-radius: 3px;
	color: #ddd;
	letter-spacing: 0.01em;
}
.option_wrapper .form-type-radio .description:before, 
.option_wrapper .form-type-checkbox .description:before,
#edit-install-options .form-type-radio .description:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #222;
    position: absolute;
    top: -8px;
    left: 48%;
}
.option_wrapper #edit-quick,
#edit-standard-options,
#edit-install-options {
	border-top: 1px solid #222;
    margin: 15px 0 0;
    padding: 10px 10px 0;
}
.option_wrapper #edit-quick input.form-radio { display: none; }
.option_wrapper #edit-quick .form-item { margin: 0; }
.option_wrapper #edit-quick .form-item #edit-platform-options {
	margin: 10px 0 0;
}
.option_wrapper #edit-quick label.option,
#edit-standard-options #edit-features label.option,
#edit-install-options .form-type-radio label.option {
	padding: 5px 10px 5px 30px;
	background-color: #333;
	border: 2px solid #222;
	border-radius: 5px;
	margin: 0 0 10px;
}
.option_wrapper #edit-quick label.option:hover,
#edit-standard-options #edit-features label.option:hover,
#edit-install-options .form-type-radio label.option:hover {
	border: 2px solid #e8e001;
}
.option_wrapper #edit-quick label.option.active,
#edit-standard-options #edit-features label.option.active,
#edit-install-options .form-type-radio label.option.active {
	border: 2px solid #0dc100;
	background-color: #222;
}
.option_wrapper #edit-quick label.option:before,
#edit-standard-options #edit-features label.option:before,
#edit-install-options .form-type-radio label.option:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: block;
    position: absolute;
    left: 5px;
    top: 8px;
    font-family: FontAwesome;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: 17px;
    margin: 0 auto;
    content: "\f00c";
    color: #222;
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.option_wrapper #edit-quick label.option:hover:before,
.option_wrapper #edit-quick label.active.option:before,
#edit-standard-options #edit-features label.option:hover:before,
#edit-standard-options #edit-features label.active.option:before,
#edit-install-options .form-type-radio label.option:hover:before,
#edit-install-options .form-type-radio label.option.active:before {
	color: #0dc100;
}

table.system-status-report {
	margin-bottom: 20px;
}
table.system-status-report td.status-icon {
    padding-right: 5px;
    width: 16px;
}
table.system-status-report td {
    padding: 10px;
}

div.status, table tr.ok {
    background-color: #222222;
    color: #FAFAFA;
}
table tr.ok .status-icon div:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    text-shadow: 0 1px 3px #000000;

    content: "\f00c";
	color: #0DC100;
}

div.error, .error {
    color: #FFFFFF;
}
div.error, table tr.error {
    background-color: #111111;
}
div.error.merge-down, table tr.error.merge-down {
    border-top: 1px solid #CF0711;
}
div.error.merge-up, table tr.error.merge-up {
    border-bottom: 1px solid #CF0711;
}
div.error *:last-child {
	margin-bottom: 0;
}
table.system-status-report tr.merge-up td {
    font-size: 16px;
    padding: 0 6px 14px 42px;
}
table tr.error .status-icon div:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    text-shadow: 0 1px 3px #000000;

    content: "\f00d";
	color: #CF0711;
}
table.system-status-report tr.error td.status-icon div {
    background-image: none;
}


/*Page Styles*/
#page {
	 background: transparent;
  /*background: #282828; 
	background: -moz-linear-gradient(left,  #282828 0%, #363636 50%, #282828 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#282828), color-stop(50%,#363636), color-stop(100%,#282828)); 
	background: -webkit-linear-gradient(left,  #282828 0%,#363636 50%,#282828 100%); 
	background: -o-linear-gradient(left,  #282828 0%,#363636 50%,#282828 100%); 
	background: -ms-linear-gradient(left,  #282828 0%,#363636 50%,#282828 100%); 
	background: linear-gradient(to right,  #282828 0%,#363636 50%,#282828 100%); */
    /*border: 5px solid #111;*/
    border-radius: 10px;
    display: table;
    margin: 0 auto 0.5rem;
    max-width: 92%;
    width: 1200px;
    opacity: 0;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 20px rgba(0,0,0,0.3);
}
body.loaded #page {
	opacity: 1;
}


/*Sidebar Region*/
#sidebar-first {
	display: table-cell;
    padding: 0;
    position: relative;
    width: 24%;
    /*border-right: 1px solid #222;*/
    background-image: url("profiles/slave1/themes/mse6/assets/images/noise.png");
	background-repeat: repeat;
}
#logo {
	margin: -50px 0 0 -50px;
    max-width: 340px;
}
ol.task-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol.task-list li {
	display: block;
	position: relative;
	padding: 10px 15px;
	border-bottom: 1px solid #222;
}
ol.task-list li:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    text-shadow: 0 1px 3px #000000;

    content: "\f10c";
	color: #555;
}
ol.task-list li.done {
	color: #777;
}
ol.task-list li.done:before {
	content: "\f058";
	color: #0DC100;
}
ol.task-list li.done + li.done:after {
	border: 1px solid #222;
    border-radius: 5px;
    content: "English";
    display: block;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding: 2px 5px;
    position: absolute;
    right: 8px;
    top: 8px;
}
ol.task-list li.done + li.done + li.done:after {
	display: none; 
}
ol.task-list li.active {
	font-weight: 300;
	color: #E8E001;
}
ol.task-list li.active:before {
	color: #E8E001;
}


/*-- Content Region --*/
#content {
	display: table-cell;
	position: relative;
	vertical-align: top;
	padding: 2%;
	width: 76%;
	background-image: url("/profiles/slave1/themes/mse6/assets/images/noise.png");
	background-repeat: repeat;
	position: relative;
}
#content #install-settings-form label {
	font-size: 24px;
}
#content #install-settings-form #edit-mysql label,
#content #install-settings-form #edit-driver label {
	font-size: 13px;
}

.fullScreen {
    height: 100%;
}

.form-item-driver {
	margin: 0;
	display: block;
	position: relative;
	cursor: pointer;
} 
.form-item-driver .form-radios {
	box-sizing: border-box;
	border: none;
    border-radius: 0;
    clear: both;
    display: table;
    margin: 2% 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.form-item-driver input {
	display: none;
}
.form-item-driver .form-radios .form-item-driver {
	background-color: transparent;
    display: table-cell;
    text-align: center;
    text-shadow: 0 1px 3px #222;
    width: 50%;
}
.form-item-driver .form-radios .form-item-driver.active {
	border-top: 2px solid #111;
}
.form-item-driver .form-radios .form-item-driver label {
	background-color: #111;
	padding: 3% 0;
	margin: 2px 0 0;
	display: block;
	cursor: pointer;
	border: 2px solid #111;
    border-top: none;
	border-bottom: none;
}
.form-item-driver .form-radios .form-item-driver:hover label {
	background-color: #111;
	border: 2px solid #111;
	border-top: none;
	border-bottom: none;
	color: #0dc100;
}
.form-item-driver .form-radios .form-item-driver.active label {
	color: #0dc100;
	background-color: #383838;
	border-bottom: none;
	margin: 0;
}
.form-item-driver .form-radios .form-item-driver.active label:before {}

.form-item-driver .description {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

#install-settings-form #edit-mysql,
#install-settings-form #edit-sqlite {
	padding: 2%;
	margin: 0;
	background-color: #383838;
	border: 2px solid #161616;
	border-top: none;
  /* background: url("/profiles/slave1/themes/mse6/assets/images/bg-hull.png") repeat scroll 0 0 #383838; */
}


.form-wrapper > *:last-child,
.fieldset-wrapper > *:last-child {
	margin-bottom: 0;
}

/*-- Submit Buttons --*/
#edit-actions {
	display: block;
    float: right;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}
.form-submit {
	font-size: 15px;
	padding: 8px 20px;
}

/*-- Labels --*/
label {
	font-size: 13px;
	letter-spacing: .02em;
	font-weight: 500;
}

/*-- Fieldsets --*/
fieldset {
	border: 1px solid #222;
	padding: 15px 20px;
}
.fieldset-description {
	font-size: 14px;
}
#edit-mysql--2 input {
	width: 50%;
	display: inline-block;
}

div.error p.error {
	color: #ed541d;
}

/*-- Loading --*/
.progress .filled {
    background-color: #000;
    height: 1.5em;
    width: 5px;
}
.progress .filled {
    background: url("/profiles/slave1/themes/mse6/assets/images/loading.png") repeat scroll 0 0 #0072b9;
}

/*-- Canvas --*/
canvas {
    position: fixed;
    z-index: 0;
    top: 0;
    opacity: 0;
}
body.loaded canvas {
	opacity: 1;
}


/*-- Footer --*/
.powered {
	display: block;
	position: relative;
	z-index: 10;
	clear: both;
	text-align: right;
	margin: 0 auto 4rem;
    max-width: 92%;
    width: 1200px;
    font-weight: 400;
    text-shadow: 0 1px 5px #000;
    font-size: 15px;
    color: #aaa;
}
.powered img {
	float: right;
    margin: -32px -10px 0 0;
    width: 85px;
}