/*--- Global ---*/
body {
	background-color: #242424;
	color: #fafafa;
	font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4rem;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-width: 900px;
}

img {
	display: block;
	position: relative;
	max-width: 100%;
}

a,
input,
li,
button,
.form-item-driver .form-radios .form-item-driver,
label {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
label {
	cursor: pointer;
}
#page
canvas {
	-webkit-transition: all .3s ease-out 0.5s;
	-moz-transition: all .3s ease-out 0.5s;
	-o-transition: all .3s ease-out 0.5s;
	transition: all .3s ease-out 0.5s;
}
table {
	width: 100%;
}
tbody {
	border-top: 0;
}

::selection {
  background: #bbb; /* WebKit/Blink Browsers */
  color: #000;
}
::-moz-selection {
  background: #bbb; /* Gecko Browsers */
  color: #000;
}

/*--- Messages ---*/
div.messages {
  margin: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  border: none;
}

div.messages .alert-box {
  margin: 0;
  text-align: center;
  font-size: 20px;
  text-shadow: 0 0 5px #015C1F;
}

div.messages .alert-box.success {
  border: 5px solid #016E25;
  border-left: none;
  border-right: none;
  background-color: #04A63A;
}

div.messages .alert-box.alert {
  border: 5px solid #AD0900;
  border-left: none;
  border-right: none;
  background-color: #ED3023;
  text-shadow: 0 0 5px #AD0900;
}

div.messages .pull-left {
  float: none;
}


/*--- Buttons ---*/
.form-submit {
	background: #0DC100;
	border: 3px solid #198E0C;
	color: #fff;
	padding: 5px 10px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.5);
	font-weight: 400;
  font-size: 14px;
	cursor: pointer;
	border-radius: 3px;
  width: 100%;
}
.form-submit:hover {
	background: #198E0C;
}

#edit-actions:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 65px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    position: absolute;
    top: -7px;
    right: -18px;
    float: right;
    content: "\f0a9";
	color: #198E0C;
}


/*--- Typography ---*/
p,
h1,
h2,
h3 {
	font-weight: 300;
}
h1.page-title {
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 0.8em 0;
    position: relative;
    text-align: center;
    z-index: 1;
}
a {
	color: #0DC100;
	outline: none;
	text-decoration: none;
	font-weight: 400;
	cursor: pointer;
}
a:hover {
	color: #198E0C;
	outline: none;
	text-decoration: none;
}
form {
	position: relative;
}

/*--- Forms ---*/

#edit-mysql {
  display: block;
  position: relative;
  width: 75%;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border: 3px solid #222;
	border-radius: 5px;
	font-weight: 400;
	margin: .5rem auto;
	padding: 10px;
	display: block;
	background-color: #e6e6e6;
	color: #555;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	font-size: 15px;
	box-sizing: border-box;
	font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;
	position: relative;
	width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border: 3px solid #0DC100;
	padding: 10px;
	background-color: #fff;
	outline: none;
	color: #222;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

input[type="submit"] {
	font-family: 'Lato', 'Helvetica Neue', helvetica, sans-serif;
}
input[type="submit"]:focus {
	outline: none;
}
input#edit-mysql-database {

}

.form-item {
  position: relative;
  z-index: 1;
  display: block;
  vertical-align: top;
  overflow: hidden;
  padding-bottom: 25px;
  margin: 0 auto;
  width: 100%;
}

input[type="text"],
input[type="password"],
textarea,
input[type="email"]  {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  font-weight: 400;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  background: none repeat scroll 0 0 transparent;
  color: #bbb;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.3em;
  margin: 0;
  opacity: 0;
  width: 100%;
  z-index: 100;
  transition: all .3s;
  text-shadow: 0 0 0 transparent;
  -webkit-transition: all .3s ease-in-out;
  transition: all .2s ease-in-out;
}
textarea {
  height: 5em;
  resize: none;
  padding: 1%;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="email"]:focus {
  outline: none;
  color: #fff;
  text-shadow: 0 0 4px #aaa;
}

input[type="text"] + label,
input[type="password"] + label,
textarea + label,
input[type="email"] + label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #bbb;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="text"] + label .labelwrap,
input[type="password"] + label .labelwrap,
textarea + label .labelwrap,
input[type="email"] + label .labelwrap {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

input[type="text"] + label,
input[type="password"] + label,
textarea + label,
input[type="email"] + label {
  width: 100%;
  position: absolute;
  text-align: left;
  padding: 0.6em;
  pointer-events: none;
  font-size: 18px;
}

input[type="text"] + label::before,
input[type="text"] + label::after,
input[type="password"] + label::before,
input[type="password"] + label::after,
textarea + label::before,
textarea + label::after,
input[type="email"] + label::before,
input[type="email"] + label::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

input[type="text"] + label::before,
input[type="password"] + label::before,
textarea + label::before,
input[type="email"] + label::before {
  height: 100%;
  background: transparent;
  border-bottom: 2px solid transparent;
  top: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .2s ease-in-out;
}

.filled.data input[type="text"] + label::before,
.filled.data input[type="password"] + label::before,
.filled.data textarea + label::before,
.filled.data input[type="email"] + label::before {
  border-bottom: 1px solid #0dc100;
}
.filled.data input + label {
  color: #0dc100;
}

input[type="text"] + label::after,
input[type="password"] + label::after,
textarea + label::after,
input[type="email"] + label::after {
  height: 3px;
  background: #E8E000;
  top: 100%;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

input[type="text"] + label .labelwrap,
input[type="password"] + label .labelwrap,
textarea + label .labelwrap,
input[type="email"] + label .labelwrap {
  padding: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s;
}

input[type="text"]:focus,
.filled input[type="text"],
input[type="password"]:focus,
.filled input[type="password"],
textarea:focus,
.filled textarea,
input[type="email"]:focus,
.filled input[type="email"] {
  opacity: 1;
  background-color: transparent;
  border: 0;
  padding:0.8em;
  -webkit-transition: opacity 0s 0.2s;
  transition: opacity 0s 0.2s;
}

input[type="text"] + label::before,
input[type="text"] + label::after,
input[type="text"] + label .labelwrap,
input[type="text"]:focus,
.filled input[type="text"],
input[type="password"] + label::before,
input[type="password"] + label::after,
input[type="password"] + label .labelwrap,
input[type="password"]:focus,
.filled input[type="password"],
input[type="email"] + label::before,
input[type="email"] + label::after,
input[type="email"] + label .labelwrap,
input[type="email"]:focus,
.filled input[type="email"],
textarea + label::before,
textarea + label::after, 
textarea + label .labelwrap,
textarea:focus,
.filled textarea {
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

input[type="text"]:focus + label::before,
.filled input[type="text"] + label::before,
input[type="password"]:focus + label::before,
.filled input[type="password"] + label::before,
input[type="email"]:focus + label::before,
.filled input[type="email"] + label::before,
textarea:focus + label::before,
.filled textarea + label::before {
  border-bottom: 2px solid #E8E000;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

input[type="text"]:focus + label::after,
.filled input[type="text"] + label::after,
input[type="password"]:focus + label::after,
.filled input[type="password"] + label::after,
input[type="email"]:focus + label::after,
.filled input[type="email"] + label::after,
textarea:focus + label::after,
.filled textarea + label::after {
  opacity: 0;
}

input[type="text"]:focus + label .labelwrap,
.filled input[type="text"] + label .labelwrap,
input[type="password"]:focus + label .labelwrap,
.filled input[type="password"] + label .labelwrap,
input[type="email"]:focus + label .labelwrap,
.filled input[type="email"] + label .labelwrap {
  -webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, 2.1em, 0) scale3d(0.75, 0.75, 1);
}

textarea:focus + label .labelwrap,
.filled textarea + label .labelwrap {
  -webkit-transform: translate3d(0, 5.3em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, 5.3em, 0) scale3d(0.75, 0.75, 1);
}
.filled textarea {
  background-color: #a8a8a8;
}




select {
	color: #222;
	display: block;
	position: relative;
	border: none;
}
.sbHolder {
	position: relative;
	display: inline-block;
	width: 250px;
	max-width: 100%;
}
a.sbSelector {
	overflow: hidden;
	color: #fafafa;	
	background-color: #222;
	display: block;
	position: relative;	
	width: 100%;
	margin: 0;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	font-weight: 100;
	text-transform: uppercase;
	border: 1px solid #111;
}
a.sbSelector:hover {
	background-color: #282828;
	border-color: #222;
}
select,
ul.sbOptions {
	border: 1px solid #bbb;  /*Removes border*/
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	appearance: none;
	width: 100px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: "";  /*Removes default arrow from firefox*/
	color: #fafafa;	
	background-color: #222;
	display: block;
	position: absolute;
	z-index: 100;	
	width: 100%;
	top: 0 !important;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-box-shadow: 0 3px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 3px 5px rgba(0,0,0,.3);
	box-shadow: 0 3px 5px rgba(0,0,0,.3);
}
select options,
ul.sbOptions li {
	display: block;
	position: relative;	
	width: 100%;
	border: 0 !important;
}
ul.sbOptions li a {
	color: #fafafa;	
	background-color: $tan;
	display: block;
	padding: 7px 15px 6px;
	font-size: 13px;
	font-weight: 100;
	text-transform: uppercase;
}
ul.sbOptions li + li a {			
	background-color: #282828;
	color: #eee;	
	font-weight: normal;

}
ul.sbOptions li + li a:hover {
	background-color: #282828;
	color: #fff;
}

.form-item, 
.form-actions {
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
}
.form-item-mysql-database {
	padding-bottom: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #222;
}
.form-item-mysql-username,
.form-item-mysql-password {
	display: block;
	position: relative;
}
.form-item label + .description {
    display: none;
}

.option_wrapper {
	background: none repeat scroll 0 0 transparent;
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.25) inset;
  box-sizing: border-box;
  border: 1px solid #222;
  display: block;
  float: left;
  margin: 1%;
  padding: 4% 2%;
  position: relative;
  width: 31.33%;
  -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.option_wrapper .form-item {
	margin-bottom: 0;
}
.option_wrapper:hover {
	border: 1px solid #e8e001;
}
.option_wrapper.active {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4) inset;
	border: 1px solid #0dc100;
}
.option_wrapper:hover {

}
.option_wrapper:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: block;
    position: absolute;
    left: 38%;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    content: "\f135";
    color: #ccc;
    text-shadow: 0 1px 4px rgba(0,0,0,0.5);
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.option_wrapper.active:before {
	color: #0dc100;
	font-size: 80px
}
#edit-option-wrapper-2:before{
	content: "\f1c0";
}
#edit-option-wrapper-3:before {
	content: "\f155";
}
.option_wrapper input,
#edit-standard-options .form-checkbox > input {
	display: none;
}
.option_wrapper #edit-quickstart--2-wrapper input + label {
	padding: 100px 0 5px;
	margin: -20px 0 10px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
}
.option_wrapper #edit-quickstart--2-wrapper input + label:hover {
	color: #0dc100;
}
.option_wrapper label.option {
	display: block;
	position: relative;
}
.option_wrapper .form-type-radio .description, 
.option_wrapper .form-type-checkbox .description,
#edit-install-options .form-type-radio .description {
	display: block;
	position: relative;
	margin: 0;
	background-color: #222;
	padding: 10px;
	border-radius: 3px;
	color: #ddd;
	letter-spacing: 0.01em;
}
.option_wrapper .form-type-radio .description:before, 
.option_wrapper .form-type-checkbox .description:before,
#edit-install-options .form-type-radio .description:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #222;
    position: absolute;
    top: -8px;
    left: 48%;
}
.option_wrapper #edit-quick,
#edit-standard-options,
#edit-install-options {
	border-top: 1px solid #222;
    margin: 15px 0 0;
    padding: 10px 10px 0;
}
.option_wrapper #edit-quick input.form-radio { display: none; }
.option_wrapper #edit-quick .form-item { margin: 0; }
.option_wrapper #edit-quick .form-item #edit-platform-options {
	margin: 10px 0 0;
}
.option_wrapper #edit-quick label.option,
#edit-standard-options #edit-features label.option,
#edit-install-options .form-type-radio label.option {
	padding: 5px 10px 5px 30px;
	background-color: #333;
	border: 2px solid #222;
	border-radius: 5px;
	margin: 0 0 10px;
}
.option_wrapper #edit-quick label.option:hover,
#edit-standard-options #edit-features label.option:hover,
#edit-install-options .form-type-radio label.option:hover {
	border: 2px solid #e8e001;
}
.option_wrapper #edit-quick label.option.active,
#edit-standard-options #edit-features label.option.active,
#edit-install-options .form-type-radio label.option.active {
	border: 2px solid #0dc100;
	background-color: #222;
}
.option_wrapper #edit-quick label.option:before,
#edit-standard-options #edit-features label.option:before,
#edit-install-options .form-type-radio label.option:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: block;
    position: absolute;
    left: 5px;
    top: 8px;
    font-family: FontAwesome;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    font-size: 17px;
    margin: 0 auto;
    content: "\f00c";
    color: #222;
    -webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.option_wrapper #edit-quick label.option:hover:before,
.option_wrapper #edit-quick label.active.option:before,
#edit-standard-options #edit-features label.option:hover:before,
#edit-standard-options #edit-features label.active.option:before,
#edit-install-options .form-type-radio label.option:hover:before,
#edit-install-options .form-type-radio label.option.active:before {
	color: #0dc100;
}

#edit-driver-wrapper {
  display: none;
}

table.system-status-report td.status-icon {
    padding-right: 5px;
    width: 16px;
}
table.system-status-report td {
    padding: 10px;
}

div.status, table tr.ok {
    background-color: #222222;
    color: #FAFAFA;
}
table tr.ok .status-icon div:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    text-shadow: 0 1px 3px #000000;

    content: "\f00c";
	color: #0DC100;
}

div.error, .error {
    color: #FFFFFF;
}
div.error, table tr.error {
    background-color: #111111;
}
div.error.merge-down, table tr.error.merge-down {
    border-top: 1px solid #CF0711;
}
div.error.merge-up, table tr.error.merge-up {
    border-bottom: 1px solid #CF0711;
}
div.error *:last-child {
	margin-bottom: 0;
}
table.system-status-report tr.merge-up td {
    font-size: 16px;
    padding: 0 6px 14px 42px;
}
table tr.error .status-icon div:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 90%;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    margin: 0 10px 0 0;
    text-shadow: 0 1px 3px #000000;

    content: "\f00d";
	color: #CF0711;
}
table.system-status-report tr.error td.status-icon div {
    background-image: none;
}


/*Page Styles*/
#page {
	 background: transparent;
  /*background: #282828; 
	background: -moz-linear-gradient(left,  #282828 0%, #363636 50%, #282828 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#282828), color-stop(50%,#363636), color-stop(100%,#282828)); 
	background: -webkit-linear-gradient(left,  #282828 0%,#363636 50%,#282828 100%); 
	background: -o-linear-gradient(left,  #282828 0%,#363636 50%,#282828 100%); 
	background: -ms-linear-gradient(left,  #282828 0%,#363636 50%,#282828 100%); 
	background: linear-gradient(to right,  #282828 0%,#363636 50%,#282828 100%); */
    /*border: 5px solid #111;*/
    border-radius: 10px;
    display: table;
    margin: 0 auto 0.5rem;
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 1;
}
body.loaded #page {
	opacity: 1;
}


/*Sidebar Region*/
#sidebar-first {
	display: block
  padding: 0;
  position: relative;
  width: 100%;
  /*border-right: 1px solid #222;*/
  background-image: url("profiles/slave1/themes/mse6/assets/images/noise.png");
	background-repeat: repeat;
}
#logo {
	/*margin: -65px 0 0 5px;*/
    max-width: 340px;
    display: none;
}
ol.task-list {
	margin: 0;
	padding: 0;
	list-style: none;
  display: table;
  width: 100%;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
}
ol.task-list li {
	display: block;
	position: relative;
	padding: 0.76em 1.2em;
	border-right: 1px solid #222;
  border-left: 1px solid #222;
  display: table-cell;
}
ol.task-list li:before {
	font-family: 'FontAwesome';
	-moz-font-feature-settings: normal;
  -moz-font-language-override: normal;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 90%;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
  margin: 0 10px 0 0;
  text-shadow: 0 1px 3px #000000;
  content: "\f10c";
	color: #555;
}
ol.task-list li.done {
	color: #777;
}
ol.task-list li.done:before {
	content: "\f058";
	color: #0DC100;
}
ol.task-list li.done + li.done:after {
	border: 1px solid #222;
    border-radius: 5px;
    content: "English";
    display: block;
    font-size: 14px;
    letter-spacing: 0.02em;
    padding: 2px 5px;
    position: absolute;
    right: 8px;
    top: 8px;
}
ol.task-list li.done + li.done + li.done:after {
	display: none; 
}
ol.task-list li.active {
	box-shadow: 0 0 10px rgba(232, 224, 1, 0.4);
  color: #e8e001;
  font-weight: 300;
  z-index: 10;
}
ol.task-list li.active:before {
	color: #E8E001;
}


/*-- Content Region --*/
#content {
	display: block;
	position: relative;
	vertical-align: top;
  max-width: 60%;
  margin: 4rem auto 0;
	background-image: url("/profiles/slave1/themes/mse6/assets/images/noise.png");
	background-repeat: repeat;
	position: relative;
}
#content #install-settings-form label {
	font-size: 24px;
}
#content #install-settings-form #edit-mysql label,
#content #install-settings-form #edit-driver label {
	font-size: 20px;
}

.fullScreen {
    height: 100%;
}

.form-item-driver {
	margin: 0;
	display: block;
	position: relative;
	cursor: pointer;
} 
.form-item-driver .form-radios {
	box-sizing: border-box;
	border: none;
    border-radius: 0;
    clear: both;
    display: table;
    margin: 2% 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.form-item-driver input {
	display: none;
}
.form-item-driver .form-radios .form-item-driver {
	background-color: transparent;
    display: table-cell;
    text-align: center;
    text-shadow: 0 1px 3px #222;
    width: 50%;
}
.form-item-driver .form-radios .form-item-driver.active {
	border-top: 2px solid #111;
}
.form-item-driver .form-radios .form-item-driver label {
	background-color: #111;
	padding: 3% 0;
	margin: 2px 0 0;
	display: block;
	cursor: pointer;
	border: 2px solid #111;
    border-top: none;
	border-bottom: none;
}
.form-item-driver .form-radios .form-item-driver:hover label {
	background-color: #111;
	border: 2px solid #111;
	border-top: none;
	border-bottom: none;
	color: #0dc100;
}
.form-item-driver .form-radios .form-item-driver.active label {
	color: #0dc100;
	background-color: #383838;
	border-bottom: none;
	margin: 0;
}
.form-item-driver .form-radios .form-item-driver.active label:before {}

.form-item-driver .description {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}


.form-wrapper > *:last-child,
.fieldset-wrapper > *:last-child {
}

/*-- Submit Buttons --*/
#edit-actions {
	display: block;
  overflow: hidden;
  max-width: 50%;
  margin: 0 auto;
  clear: both;
}
.form-submit {
	font-size: 20px;
	padding: 8px 20px;
}

/*-- Labels --*/
label {
	font-size: 13px;
	letter-spacing: .02em;
	font-weight: 500;
}

/*-- Fieldsets --*/
fieldset {
	border: 1px solid #222;
	padding: 15px 20px;
  position: relative;
  margin-bottom: 3em;
}
fieldset legend {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 1);
  display: block;
  float: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  position: absolute;
  top: -15px;
  left: 40%;
}
html.js fieldset legend span.fieldset-legend,
fieldset legend span.fieldset-legend {
  background: none repeat scroll 0 0 transparent;
  display: block;
  margin: 0 auto;
  padding: 0 10%;
  position: relative;
  width: auto;
}
fieldset legend span.fieldset-legend a {
  color: #888;
  font-weight: 300;
}
fieldset legend span.fieldset-legend .summary {
  display: none;
}
.fieldset-description {
	font-size: 14px;
}

div.error p.error {
	color: #ed541d;
}

div.password-strength,
div.password-confirm {
  float: none;
  margin-top: 1.4em;
  position: absolute;
  width: 100%;
  top: 44px;
  margin: 0;
  right: 0;
  width: auto;
}
.password-strength .password-strength-title {
  display: none;
}
.password-strength .password-indicator {
  background-color: transparent;
  height: 2px;
  position: relative;
  width: 100%;
  z-index: 10;
}
.filled.data .password-strength .password-indicator {
  height: 1px;
}
.filled.data .password-strength .password-indicator div {

}

/*-- Loading --*/
#updateprogress {
  font-weight: bold;
  margin: 3em auto;
  max-width: 90%;
  text-align: center;
}
.progress .bar {
  border: none;
  border-radius: 0;
  margin: 0;
}
.progress .filled {
    background-color: #000;
    height: 3em;
    width: 5px;
}
.progress .filled {
    background: url("/profiles/slave1/themes/mse6/assets/images/loading.png") repeat scroll 0 0 #0072b9;
}

/*-- Canvas --*/
canvas {
    position: fixed;
    z-index: 0;
    top: 0;
    opacity: 0;
}
body.loaded canvas {
	opacity: 1;
}


/*-- Footer --*/
.powered {
	display: block;
	position: relative;
	z-index: 10;
	clear: both;
	text-align: right;
	margin: 0 auto 4rem;
    max-width: 92%;
    width: 1200px;
    font-weight: 400;
    text-shadow: 0 1px 5px #000;
    font-size: 15px;
    color: #aaa;
    display: none;
}
.powered img {
	float: right;
    margin: -32px -10px 0 0;
    width: 85px;
}